Options +FollowSymlinks
RewriteEngine On
RewriteRule ^(.*)/$ /$1 [L,R]
Options -Indexes

RewriteBase /
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
Header always set Content-Security-Policy "upgrade-insecure-requests;"

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}.php -f
RewriteRule (.*) $1.php [L]
RewriteRule   ^post/(.+)$   single_post?post-slug=$1   [L]
RewriteRule   ^topic/(.+)$   filtered_posts?topic=$1   [L]
RewriteRule   ^review/(.+)$   single_review?review-slug=$1   [L]
RewriteRule   ^genre/(.+)$   filtered_reviews?genre=$1   [L]
RewriteRule   ^type/(.+)$   filtered_reviews?type=$1   [L]

ErrorDocument 400 /errors/bad-request
ErrorDocument 401 /errors/auth-reqd
ErrorDocument 403 /errors/forbid
ErrorDocument 404 /errors/not-found
ErrorDocument 500 /errors/server-err

RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Return 403 Forbidden header and show the content of the root homepage
RewriteRule .* index [F]

<filesMatch ".(ico|jpg|jpeg|png|gif|svg|woff2)$">
 Header set Cache-Control "max-age=2592000, public"
</filesMatch>
<filesMatch ".(css|js)$">
 Header set Cache-Control "max-age=172800, public"
</filesMatch>
